.App {
  text-align: center;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;  /* Ensure the full height is used */
}

.banner{
  background-color: #9dadcf;  /* background color */
               /* text color */
  text-align: center;         /* Center align text */
  padding: 5px;         /* Vertical padding */
  width: 100%;                /* Make the banner full width */
  position: relative; 
}

.song-banner-text {
  font-family: "Helvetica Neue", Helvetica, Arial;
  /* Fallback for non-supporting browsers */
  color: #5d6d8e; 
  font-size: 12px;  
  /* background: linear-gradient(#746e82, #728a9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.song-banner-text h1 {
  margin: 0;                  /* Remove default margin on h1 */
  padding: 0;                 /* Remove default padding on h1 */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title-text {
  font-family: "Helvetica Neue", Helvetica, Arial;
  color: #0a1835;
  font-size: 40px; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #cbd6ee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #6c7b9a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
