.door-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.door-modal-container {
    background: rgb(179, 129, 90);
    color: rgb(86, 49, 21);
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -4px 6px rgba(0, 0, 0, 0.1), 4px 0 6px rgba(0, 0, 0, 0.1), -4px 0 6px rgba(0, 0, 0, 0.1);
    border: 5px solid rgb(86, 49, 21);
    align-items: center;
}

.door-close-button {
    position: absolute;
    color: rgb(67, 35, 35);
    font-size: 24px;
    cursor: pointer;
    top: 20px;
    right: 20px;
    transform: translateY(-50%);
}

.door-modal-input {
    position: relative;
    top: 8px;
    left: -10%;
    background: rgb(153, 97, 58);
    font-family: 'Pixelify Sans', sans-serif;
    font-size : 20px;
    color:rgb(39, 30, 4);
    width: 120%;
    height: auto;
    
}

.door-modal-body {
    position: relative;
    top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 30px;
    font-family: 'Jersey 20', sans-serif;
}

.door-modal-error{
    position: relative;
    top: 15px;
    font-size: 30px;
    color: rgb(112, 21, 30);
}

.door-hint-button{
    font-family: 'Jersey 20', sans-serif;
    font-size: 30px;
    color: rgb(77, 51, 27);
    background-color: transparent;
}

.door-hint-button:hover{

    background: linear-gradient(90deg, #006b8e, #4b00a6); 
    background-size: 300% 300%;
    background-clip: text;
    color: transparent;
}

.door-hint-message{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
    color: rgb(77, 51, 27);
    background-color: transparent;
}

::placeholder {
    color: rgb(70, 48, 24);
}

:focus {
	outline: 0 
}