/* src/components/RollingBanner.css */
.banner{
    background-color: #bde4e8; 
    text-align: center;         
    padding: 0px 0px 5px;        
    width: 100%;                /* Make the banner full width */
    position: relative; 
    z-index: 1;

}
.banner-content {
    display: flex;              /* Align text items in a row */
    width: 100%;                /* Double the width of the container to hold two copies */
}


@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.banner_line{
    top: 8px;
    left: 0px;
    background: linear-gradient(90deg, #04baf6, #e314d2, rgb(0, 186, 253), rgb(128, 4, 252)); 
    background-size: 100% 100%;       
    padding: 3px 0px 0px 0px;        
    width: 100%;                /* Make the banner full width */
    position: relative; 
    z-index: 1;
    animation: gradientAnimation 8s ease infinite;

}
 

.song-banner-text {
    font-family: 'Pixelify Sans', sans-serif;
    background: linear-gradient(90deg, #04baf687, #e314d27f, rgba(0, 186, 253, 0.559), rgba(128, 4, 252, 0.575)); 
    background-size: 300% 300%;
    background-clip: text;
    color: transparent;
    font-size: 30px;
    margin: 0;  /* Remove default margins */
    padding: 0; /* Remove default padding */
    display: flex;  /* Allow the text to scroll horizontally */
    white-space: normal;    /* Prevent text from wrapping to the next line */
    word-wrap: break-word;
    word-break: break-word;
    text-align: center; 
    animation: gradientAnimation 8s ease infinite;
}

.center {
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 100%; 
}

.song-banner-text-2 {
    animation-delay: 2.5s;
}

.song-banner-text a {
    color: inherit;           /* Inherit the color from the parent h1 */
    font-size: inherit;       /* Inherit font size from the h1 */
    text-decoration: none;    /* Remove underline */
    font-weight: inherit;     /* Inherit font weight */
}

/* Keyframes to create the scrolling effect */
/* @keyframes marquee {


    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
} */
  
@media (max-width: 767px) { /*for mobile devices*/
  
    .banner {
       margin: 0;
       width: 100%;
       overflow-x: hidden;  
       position: relative;  
       z-index: 2;      
    }

    .banner-content {
       width: 100%;              
    }

    .song-banner-text {
       font-size: 24px;       
    }
  
  }